<div class="center-card">
  <mat-card class="card" style="text-align: center;">
    <mat-card-header class="" style="margin: 20px; display: grid;">
      <mat-card-title class="card-title">Inicio de sesión</mat-card-title>
    </mat-card-header>

    <mat-card-content style="display: grid; padding-left: 10px; padding-right: 10px;">
      <form class="form-field-full" [formGroup]="loginForm">
        <div class="row">
          <div class="col ">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="example@example.com" formControlName="email">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width m-t-2">
              <input type="password" matInput placeholder="password" formControlName="password">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
          <button mat-flat-button type="button" color="accent" [routerLink]="['/admin']">
            Iniciar sesión
          </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>