.title-performance {
  font-size: 1rem !important;
  margin: 0 !important;
  padding: 0 !important;
}

.subtitle {
  color: #01a696;
  font-size: 0.75rem;
  padding: 0 !important;
  margin: 0 !important;
}